// Custom styles.
.post {
   margin-top: 2.5px;
   margin-bottom: 2.5px;
   padding: 3px;
   -webkit-box-shadow: 0 0 5px rgba(202, 203, 203, .5);
   -moz-box-shadow: 0 0 5px rgba(202, 203, 204, .5);
}

.posts-expand .post-meta {
	margin: 10px 0 10px 0;
}

.site-title {
    font-size: 14px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    line-height: 45px;
    letter-spacing: 3px;
}


.posts-expand .post-title {
    font-size: 28px;
    font-weight: 700;
}

.post-button .btn {
    color: #555 !important;
    background-color: rgb(255, 255, 255);
    border-radius: 3px;
    font-size: 15px;
    box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.35);
    border: none !important;
    transition-property: unset;
    padding: 0px 15px;
}
.post-button .btn:hover {
    color: rgb(255, 255, 255) !important;
    border-radius: 3px;
    font-size: 15px;
    box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.35);
    background-image: linear-gradient(90deg, #444444 0%, #333333 25%, #222222 50%, #333333 75%, #444444 100%);
}

.posts-expand .post-tags a {
    border-bottom: none;
    margin-right: 0px;
    font-size: 14px;
    padding: 0px 5px;
    border-radius: 3px;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
}
.posts-expand .post-tags a:hover {
    background: #eee;
}


.post-nav-item a {
    color: rgb(80, 115, 184);
    font-weight: bold;
}
.post-nav-item a:hover {
    color: rgb(161, 102, 171);
    font-weight: bold;
}

hr {
    margin: 10px 0px 30px 0px;
}

// 标题的边框
.post-body h2 {
    border-left: 4px solid rgb(72, 209, 204);
    margin-left: -36px;
    padding-left: 32px;
}


.post-body h3 {
    border-left: 4px solid rgb(219, 207, 202);
    margin-left: -32px;
    padding-left: 32px;
}


.post-body h4 {
    border-left: 4px solid rgb(189, 172, 156);
    margin-left: -28px;
    padding-left: 32px;
}

.post-body h5 {
    border-left: 4px solid rgb(225, 233, 220);
    margin-left: -24px;
    padding-left: 32px;
}


.post-body h6 {
    border-left: 4px solid rgb(222, 211, 140);
    margin-left: -20px;
    padding-left: 32px;
}

.posts-expand .post-body img {
    border: none;
    padding: 0px;
}
.post-gallery .post-gallery-img img {
    padding: 3px;
}


.sidebar {opacity: 0.93;}


//背景
@media screen and (min-width:1200px) {
    #footer a {
        color:#eee;
    }
}

	//改变背景色和透明度
     .main-inner {
		background: #fff;
		opacity: 0.97;
	}
	//改变菜单栏透明度
	 .header-inner {
		background: #ffffffe8;
		opacity: 1;
	}
	//标题颜色
	 .site-meta  {
	     background: #f76730;
         opacity: 0.8;
	 }

    //标题字体及背景
	 .site-title {
    display: inline-block;
    vertical-align: top;
    line-height: 36px;
    font-size: 30px;
    font-weight: normal;
    font-family: 'Lato', "PingFang SC", "FZShuTi", sans-serif;
	color: #000000;
	}
	
	//副标题配置
	.site-subtitle {
    margin-top: 10px;
    font-size: 17px;
    color: #000;
    font-family: 'Lato', "PingFang SC", "STXingkai", sans-serif;
    }
	
	//底部博客信息颜色
	.footer {
    font-size: 14px;
    color: #000;
    }
	//当鼠标移动到选项时的优化
	.menu .menu-item a:hover, .menu-item-active a {
    background: #ffffff85;
    border-bottom-color: #dcd1d196;
    }

    //菜单右部的点
    .menu-item-active a:after {
    content: " ";
    position: absolute;
    top: 50%;
    margin-top: -3px;
    right: 15px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #484848;
    }
    
    
    
//body { 
	////background-image: url(/images/background.jpg);
	//background-image: url(https://ae01.alicdn.com/kf/HTB1mGBpUlLoK1RjSZFuq6xn0XXan.jpg);
	//background-attachment: fixed;
	//background-repeat: no-repeat;
    //background-position:50% 50%;
//}

// 菜单menu
.menu .menu-item a {
    font-size: 16px;
    margin: -10px -3px;
    left: 0px;
}
