.posts-expand {
  .post-eof {
    margin: 10px auto -10px;
    width: 20%;
    height: 1px;
    background: $grey-light;
    text-align: center;
  }
}

.post:last-child {
  .post-eof {
    hide();
  }
}
